/* Write your code here: */
h1, h2{
    color: blueviolet;
}

/* parent-child selector */
.box > p{
    color: firebrick;
}

/* descendant seletcor*/
.box li {
    color: blue;
}

/*chaining seletor*/
li.done{
    color: green;
}

/*chaining multiple chaining methods*/
ul  p.done{
    font-size: 0.5rem;
}